<header id="MainHeader" class="main-header-with-video">
    <div id="player" class="video">
        {{! YOUR COVER VIDEO }}
        <iframe src="//player.vimeo.com/video/40123818?title=0&amp;portrait=0&amp;color=df5840&amp;autoplay=1&amp;loop=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="flexslider-with-video">
        <ul class="slides">
            {{! CHANGE DESCRIPTIONS HERE }}
            <li>
                <div class="caption text-center">
                    <span>Outstanding User Experience</span>
                </div>
            </li>
            <li>
                <div class="caption text-center">
                    <span>Optimized information placement</span>
                </div>
            </li>
            <li>
                <div class="caption text-center">
                    <span>We are using the latest technology</span>
                </div>
            </li>
        </ul>
        <ul class="flex-control-nav">
            {{! THERE NEEDS TO BE A NUMBER OF LI EQUAL TO THE NUMBER OF DESCRIPTIONS!!! }}
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
        </ul>
    </div>
</header>