<!-- Begin Navigation -->
<!-- IF YOU WANT TO HAVE THE MENU FIXED ON TOP JUST HAD THE CLASS "navbar-fixed-top" -->
<!-- IF YOU WANT TO REMOVE THE RED BACKGROUND BEHIND THE LOGO JUST HAD THE CLASS "remove-left-red" -->
<!-- There are three types of menus. Change class "navbar-default" to "nabvar-inverse" or "navbar-color" -->
<nav id="navigation" class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {{! Change your logo or name here }}
        <a class="navbar-brand" href="/"><strong>Bos</strong>ton</a>
    </div>
    <div class="triangle visible-md visible-lg"></div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Blog</a></li>
            <li><a href="/about-us/">About Us</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- End Navigation -->