{{! Page footer }}
<footer class="color-row">
    <div class="container text-center padding-small">
        {{! EDIT HERE }}
        <p class="h4 animated" data-fx="fadeInUp">Bos<span class="light">ton</span></p>

        <div class="social-unit animated" data-fx="pulse">
            <div class="container text-center">
                <div class="social">
                    <ul>
                        {{! EDIT HERE }}
                        <li>
                            <a href="#">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom"
                                     title="Facebook">
                                    <p><i class="fa fa-facebook"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom"
                                     title="Twitter">
                                    <p><i class="fa fa-twitter"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom"
                                     title="LinkedIn">
                                    <p><i class="fa fa-linkedin-square"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Google+">
                                    <p><i class="fa fa-google-plus"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Pinterest">
                                    <p><i class="fa fa-pinterest"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Flickr">
                                    <p><i class="fa fa-flickr"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Dribbble">
                                    <p><i class="fa fa-dribbble"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Youtube">
                                    <p><i class="fa fa-youtube"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Vimeo">
                                    <p><i class="fa fa-vimeo-square"></i></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{! EDIT HERE }}
        <p class="copy">Copyright © 2014 CreateIT</p>
    </div>
</footer>