<header id="MainHeader" class="main-header main-header-with-slogan">
    <div class="slogan">
        <div class="container">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 text-center">
                <p class="h2">
                    TRUST US</br>
                </p>
                <p class="h1 square">
                    <strong>WE ARE</strong></br>
                </p>
                <p class="h3">
                    DESIGNERS
                </p>
            </div>
        </div>
    </div>
    <div class="fullscreen-slider-slogan fs-with-menu-bottom">
        <ul class="slides">
            <li>
                <img src="/assets/images/content/full-slider7.jpg" alt="preview">
            </li>
            <li>
                <img src="/assets/images/content/full-slider8.jpg" alt="preview">
            </li>
            <li>
                <img src="/assets/images/content/full-slider9.jpg" alt="preview">
            </li>
        </ul>
    </div>
</header>